In [1]:
import pandas as pd
from news_trading import trade_on_news, open_calc
from get_data import get_price, get_data_from_mt5, get_today_calendar
import MetaTrader5 as mt5
import pytz
from time import sleep

In [2]:
initialize= ["51834380", "4wsirwes", "Alpari-MT5-Demo"]

time_of_positions = trade_on_news(initialize=initialize, country='United States', news='OPEC Crude Oil Production Guinea', risk=100)
time_of_positions

[28/10/2023 15:59:20]best symbol and timeframe by winrate: USDCAD and 0.5
time of min is greater than time of max

{'time_of_max_last_year': 7.2, 'time_of_min_last_year': 14.2}

In [9]:
round(list(time_of_positions.values())[1] - list(time_of_positions.values())[0])

7

In [10]:
price_5min_before_news = 1.05

if list(time_of_positions.keys())[0] == "time_of_max_last_year":
    sleep(list(time_of_positions.keys())[0]*60)
    df =get_data_from_mt5(initialize=initialize, Ticker="EURUSD", TimeFrame='1m')
    if (price_5min_before_news < df.iloc[-1]["Open"]) and (price_5min_before_news < df.iloc[-1]["High"]) and (price_5min_before_news < df.iloc[-1]["Low"]) and(price_5min_before_news < df.iloc[-1]["Close"]):
        print("sell")
    else:
        sleep(round(list(time_of_positions.values())[1] - list(time_of_positions.values())[0])*60) 
        df =get_data_from_mt5(initialize=initialize, Ticker="EURUSD", TimeFrame='1m')
        if (price_5min_before_news > df.iloc[-1]["Open"]) and (price_5min_before_news > df.iloc[-1]["High"]) and (price_5min_before_news > df.iloc[-1]["Low"]) and(price_5min_before_news > df.iloc[-1]["Close"]):
            print('buy')

elif list(time_of_positions.keys())[0] == "time_of_min_last_year":
    sleep(list(time_of_positions.keys())[0]*60)    
    df =get_data_from_mt5(initialize=initialize, Ticker="EURUSD", TimeFrame='1m')
    if (price_5min_before_news > df.iloc[-1]["Open"]) and (price_5min_before_news > df.iloc[-1]["High"]) and (price_5min_before_news > df.iloc[-1]["Low"]) and(price_5min_before_news > df.iloc[-1]["Close"]):
        print("buy") 
    else:
       sleep(round(list(time_of_positions.values())[0] - list(time_of_positions.values())[1])*60)  
       df =get_data_from_mt5(initialize=initialize, Ticker="EURUSD", TimeFrame='1m')
       if (price_5min_before_news < df.iloc[-1]["Open"]) and (price_5min_before_news < df.iloc[-1]["High"]) and (price_5min_before_news < df.iloc[-1]["Low"]) and(price_5min_before_news < df.iloc[-1]["Close"]):
           print('sell')

'time_of_max_last_year'

In [2]:
initialize= ["51874606", "f3mfpwww", "Alpari-MT5-Demo"]
get_price(initialize=initialize, symbol="USDCAD", sleep_time=10, action='buy')

1.37908

In [6]:
df = pd.DataFrame(mt5.copy_rates_from_pos("EURUSD", mt5.TIMEFRAME_M1, 0, 10))
df['time']=pd.to_datetime(df['time'], unit='s')
df

,time,open,high,low,close,tick_volume,spread,real_volume
0,2023-10-26 12:38:00,1.05490,1.05491,1.05486,1.05489,24,3,0
1,2023-10-26 12:39:00,1.05489,1.05504,1.05485,1.05504,38,2,0
2,2023-10-26 12:40:00,1.05507,1.05509,1.05490,1.05498,38,4,0
3,2023-10-26 12:41:00,1.05499,1.05501,1.05482,1.05488,43,4,0
4,2023-10-26 12:42:00,1.05489,1.05489,1.05470,1.05473,23,4,0
5,2023-10-26 12:43:00,1.05475,1.05475,1.05458,1.05459,15,4,0
6,2023-10-26 12:44:00,1.05458,1.05458,1.05443,1.05444,42,4,0
7,2023-10-26 12:45:00,1.05444,1.05448,1.05434,1.05434,25,4,0
8,2023-10-26 12:46:00,1.05435,1.05451,1.05435,1.05448,55,4,0
9,2023-10-26 12:47:00,1.05448,1.05450,1.05445,1.05446,8,4,0

In [3]:
df =get_data_from_mt5(initialize=initialize, Ticker="EURUSD", TimeFrame='1m')
df

,Open,High,Low,Close,Volume,Mean,diff,info
time,,,,,,,,
2023-07-20 05:21:00,1.12275,1.12275,1.12266,1.12267,21,1.122693,NaN,EURUSD_1m
2023-07-20 05:22:00,1.12267,1.12267,1.12258,1.12260,13,1.122617,-0.000077,EURUSD_1m
2023-07-20 05:23:00,1.12260,1.12266,1.12259,1.12266,11,1.122637,0.000020,EURUSD_1m
2023-07-20 05:24:00,1.12266,1.12266,1.12264,1.12266,7,1.122653,0.000017,EURUSD_1m
2023-07-20 05:25:00,1.12266,1.12268,1.12264,1.12266,9,1.122660,0.000007,EURUSD_1m
...,...,...,...,...,...,...,...,...
2023-10-26 15:57:00,1.05496,1.05519,1.05478,1.05497,158,1.054980,-0.000080,EURUSD_1m
2023-10-26 15:58:00,1.05492,1.05516,1.05483,1.05504,136,1.055010,0.000030,EURUSD_1m
2023-10-26 15:59:00,1.05504,1.05586,1.05504,1.05586,209,1.055587,0.000577,EURUSD_1m
2023-10-26 16:00:00,1.05598,1.05602,1.05532,1.05533,266,1.055557,-0.000030,EURUSD_1m
2023-10-26 16:01:00,1.05532,1.05547,1.05526,1.05535,131,1.055360,-0.000197,EURUSD_1m

In [4]:
price_5min_before_news = 1.05
if (price_5min_before_news < df.iloc[-1]["Open"]) and (price_5min_before_news < df.iloc[-1]["High"]) and (price_5min_before_news < df.iloc[-1]["Low"]) and(price_5min_before_news < df.iloc[-1]["Close"]):
    print("sell")
elif (price_5min_before_news > df.iloc[-1]["Open"]) and (price_5min_before_news > df.iloc[-1]["High"]) and (price_5min_before_news > df.iloc[-1]["Low"]) and(price_5min_before_news > df.iloc[-1]["Close"]):
    print("buy")

sell

In [68]:
df_news = get_today_calendar(countries=['United States', 'United Kingdom', 'Euro Zone',
                           'Germany', 'Switzerland', 'Canada', 
                           'Australia', 'Japan', 'New Zealand', 'China'], timezone=pytz.timezone('Asia/Istanbul'))
df_news

2023-10-26 14:10:23.141709+03:00
static/2023-10-26_14.xlsx

,Date_Time,News,Country,Actual,Forecast,Previous
0,2023-10-26 01:00:00,RBA Assist Gov Kent Speaks,Australia,NaN,NaN,NaN
1,2023-10-26 01:00:00,RBA Gov Bullock Speaks,Australia,NaN,NaN,NaN
2,2023-10-26 02:50:00,Corporate Services Price Index (YoY),Japan,2.1,2.0,2.1
3,2023-10-26 02:50:00,Foreign Bonds Buying,Japan,-151.7,NaN,808.1
4,2023-10-26 02:50:00,Foreign Investments in Japanese Stocks,Japan,214.7,NaN,1263.9
...,...,...,...,...,...,...
74,2023-10-27 23:30:00,CFTC Copper speculative net positions,United States,NaN,NaN,-25.9
73,2023-10-27 23:30:00,CFTC Aluminium speculative net positions,United States,NaN,NaN,6.4
72,2023-10-27 23:30:00,CFTC GBP speculative net positions,United Kingdom,NaN,NaN,-11.2
79,2023-10-27 23:30:00,CFTC Natural Gas speculative net positions,United States,NaN,NaN,-57.3
89,2023-10-27 23:30:00,CFTC EUR speculative net positions,Euro Zone,NaN,NaN,82.4

In [61]:
df_news['Date_Time'][8]

Timestamp('2023-10-26 13:30:00')

In [62]:
matching_index = df.index[df.index == df_news['Date_Time'][7]]
matching_index

DatetimeIndex(['2023-10-26 04:00:00'], dtype='datetime64[ns]', name='time', freq=None)

In [54]:
df.index[-533:-532] == df_news['Date_Time'][7:8]

array([ True])

In [67]:
from pytz import all_timezones
all_timezones[250:300]

['Asia/Bishkek',
 'Asia/Brunei',
 'Asia/Calcutta',
 'Asia/Chita',
 'Asia/Choibalsan',
 'Asia/Chongqing',
 'Asia/Chungking',
 'Asia/Colombo',
 'Asia/Dacca',
 'Asia/Damascus',
 'Asia/Dhaka',
 'Asia/Dili',
 'Asia/Dubai',
 'Asia/Dushanbe',
 'Asia/Famagusta',
 'Asia/Gaza',
 'Asia/Harbin',
 'Asia/Hebron',
 'Asia/Ho_Chi_Minh',
 'Asia/Hong_Kong',
 'Asia/Hovd',
 'Asia/Irkutsk',
 'Asia/Istanbul',
 'Asia/Jakarta',
 'Asia/Jayapura',
 'Asia/Jerusalem',
 'Asia/Kabul',
 'Asia/Kamchatka',
 'Asia/Karachi',
 'Asia/Kashgar',
 'Asia/Kathmandu',
 'Asia/Katmandu',
 'Asia/Khandyga',
 'Asia/Kolkata',
 'Asia/Krasnoyarsk',
 'Asia/Kuala_Lumpur',
 'Asia/Kuching',
 'Asia/Kuwait',
 'Asia/Macao',
 'Asia/Macau',
 'Asia/Magadan',
 'Asia/Makassar',
 'Asia/Manila',
 'Asia/Muscat',
 'Asia/Nicosia',
 'Asia/Novokuznetsk',
 'Asia/Novosibirsk',
 'Asia/Omsk',
 'Asia/Oral',
 'Asia/Phnom_Penh']